<div class="dashboard-style">
    <div class="row">
        <div id="main" class="col">
            <div class="dashboard-spacer">
                <span class="dashboard-header">RECEITA DO MÊS</span>
                <select class="form-select" id="month-select" (change)="onChange($event.target)" [(ngModel)]="selectedMonth">
                    <option *ngFor="let mes of meses" [value]="mes">{{ mes }}</option>
                  </select>
            </div>

            <div class="dashboard-spacer">
                <span class="title">ENTRADAS DO MÊS</span>
                <div class="dash-box"> {{ valorTotalReceita | currency: 'BRL' }} </div>
            </div>

            <div class="dashboard-spacer">
                <span class="title">SAÍDAS DO MÊS</span>
                <div class="dash-box"> {{ valorTotalDepesas | currency: 'BRL' }} </div>
            </div>

            <div class="dashboard-spacer">
                <span class="title">SALDO DO MÊS</span>
                <div class="dash-box"> {{ valorTotalReceita - valorTotalDepesas | currency: 'BRL' }} </div>
            </div>
        </div>
        <div id="resumo" class="col">
            <div class="dash-box box-shadow">
                RECEITA BRUTA
            </div>
            <div>R$ 100.000,00</div>


        </div>
        <div id="saldo" class="col">
            <div class="dash-box">
                SALDO
            </div>
        </div>
    </div>
</div>