<mat-tab-group mat-tab-align="start" animationDuration="0ms" class="example-container">
    <mat-tab label="DESPESAS" class="despesas-tab">
        <section class="mat-elevation-z8" tabindex="0">
            <table mat-table *ngIf="dataSourceDespesas" [dataSource]="dataSourceDespesas">
                <ng-container *ngFor="let item of displayedColumnsLancamento" [matColumnDef]="item">
                    <th mat-header-cell class="f-sm" *matHeaderCellDef>
                        {{ columnMapping[item] }}
                    </th>
                    <td mat-cell class="f-sm" *matCellDef="let element">{{ element[item] }} </td>
                </ng-container>
                <tr class="f-sm" mat-header-row *matHeaderRowDef="displayedColumnsLancamento, sticky: true"></tr>

                <tr mat-row [class.highlight]="row.id === selectedRowIndex" (click)="onClickRow(row, $event)"
                    class="f-sm" *matRowDef="let row; columns: displayedColumnsLancamento">
                </tr>
            </table>
        </section>
    </mat-tab>

    <mat-tab label="RECEITAS" class="receitas-tab">
        <section class="mat-elevation-z8" tabindex="0">
            <table mat-table *ngIf="dataSourceReceitas" [dataSource]="dataSourceReceitas">
                <ng-container *ngFor="let item of displayedColumnsLancamento" [matColumnDef]="item">
                    <th mat-header-cell class="f-sm" *matHeaderCellDef>
                        {{ columnMapping[item] }}
                    </th>
                    <td mat-cell class="f-sm" *matCellDef="let element">{{ element[item] }} </td>
                </ng-container>
                <tr class="f-sm" mat-header-row *matHeaderRowDef="displayedColumnsLancamento, sticky: true"></tr>

                <tr mat-row [class.highlight]="row.id === selectedRowIndex" (click)="onClickRow(row, $event)"
                    class="f-sm" *matRowDef="let row; columns: displayedColumnsLancamento">
                </tr>
            </table>
        </section>
    </mat-tab>
</mat-tab-group>
