#tab-container
    width: 100vw
    height: calc(100vh - 112px)
    background-color: green
    color: white
    display: flex
    position: relative
    top: 80px
    flex-direction: column
    align-items: center
    justify-content: center

.crud-buttons
    background-color: olive
    display: flex
    position: absolute
    width: 100vw
    height: 32px
    align-content: center
    top: 0px

.lancamentos
    background-color: red
    display: flex
    position: absolute
    width: 100vw
    height: calc(100vh - 144px)
    align-content: center
    top: 32px

#filter-container
    display: grid
    position: relative
    background-color: blue
    width: 100vw
    height: 32px
    top: 80px