<section class="crud-lanc crud-buttons">
    <button id="add-button" (click)="addLancamentoModal()" mat-raised-button class="add-button"> <mat-icon
            color="black">add</mat-icon>
        Lançar </button>
    <button id="edit-button" (click)="editLancamento()" mat-raised-button class="add-button"> <mat-icon
            color="black">edit</mat-icon>
        Editar Lançamento </button>
    <button id="delete-button" (click)="deleteLancamento()" mat-raised-button class="add-button"> <mat-icon
            color="black">delete</mat-icon>
        Excluir Lançamento </button>
</section>