<div class="custom-container">
    <fieldset class="demo-fieldset">
        <div>
            <mat-checkbox aria-label="SELECIONAR todas" [checked]="isChecked()" [indeterminate]="isIndeterminate()"
                (change)="$event ? toggleAll($event) : null">
                Selecionar Tudo
            </mat-checkbox>
        </div>
        <div class="demo-select-all-checkboxes" *ngFor="let cong of congregations">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? handleToogle(cong, $event) : null"
                [checked]="exists(cong)">
                {{ cong }}
            </mat-checkbox>
        </div>
    </fieldset>
    
    <button type="button" (click)="downloadPdf()">IMPRIMIR RELATORIO</button>
    <header>RELATÓRIO ANALÍTICO</header>
    <mat-tab-group mat-tab-align="start" animationDuration="0ms">
        <mat-tab label="DESPESAS" class="despesas-tab">
            <section class="mat-elevation-z8" tabindex="0">
                <table mat-table [dataSource]="dataSourceDespesa">
                    <ng-container *ngFor="let item of displayedColumnsLancamento" [matColumnDef]="item">
                        <th mat-header-cell class="f-sm" *matHeaderCellDef>
                            <div *ngIf="item === 'valor';then isValue else notValue"></div>
                            <ng-template #isValue> (R$) {{ columnMapping[item] }} </ng-template>
                            <ng-template #notValue> {{ columnMapping[item] }} </ng-template>
                        </th>
                        <td mat-cell class="f-sm" *matCellDef="let element">
                            <ng-container *ngIf="item === 'valor'">
                                {{ element[item] | currency: 'BRL' }}
                            </ng-container>

                            <ng-container *ngIf="item === 'data_lan' || item === 'data_ven'">
                                {{ element[item] | slice:0:5 }}
                            </ng-container>

                            <ng-container *ngIf="item !== 'valor' && item !== 'data_lan' && item !== 'data_ven'">
                                {{ element[item] }}
                            </ng-container>

                        </td>
                    </ng-container>
                    <tr class="f-sm" mat-header-row *matHeaderRowDef="displayedColumnsLancamento, sticky: true"></tr>

                    <tr mat-row class="f-sm" *matRowDef="let row; columns: displayedColumnsLancamento">
                    </tr>
                </table>
            </section>
        </mat-tab>

        <mat-tab label="RECEITAS" class="receitas-tab" id="#mat-table-receitas">
            <section class="mat-elevation-z8" tabindex="0">
                <table mat-table [dataSource]="dataSourceReceita">
                    <ng-container *ngFor="let item of displayedColumnsLancamento" [matColumnDef]="item">
                        <th mat-header-cell class="f-sm" *matHeaderCellDef>
                            <div *ngIf="item === 'valor';then isValue else notValue"></div>
                            <ng-template #isValue> (R$) {{ columnMapping[item] }} </ng-template>
                            <ng-template #notValue> {{ columnMapping[item] }} </ng-template>
                        </th>
                        <td mat-cell class="f-sm" *matCellDef="let element">
                            <ng-container *ngIf="item === 'valor'">
                                {{ element[item] | currency: 'BRL' }}
                            </ng-container>

                            <ng-container *ngIf="item === 'data_lan' || item === 'data_ven'">
                                {{ element[item] | slice:0:5 }}
                            </ng-container>

                            <ng-container *ngIf="item !== 'valor' && item !== 'data_lan' && item !== 'data_ven'">
                                {{ element[item] }}
                            </ng-container>

                        </td>
                    </ng-container>
                    <tr class="f-sm" mat-header-row *matHeaderRowDef="displayedColumnsLancamento, sticky: true"></tr>

                    <tr mat-row class="f-sm" *matRowDef="let row; columns: displayedColumnsLancamento">
                    </tr>
                </table>
            </section>
        </mat-tab>
    </mat-tab-group>
</div>