td
    white-space: nowrap

.crud-lanc
    display: flex

table
    thead
        font-weight: bold

.example-container
  height: 400px
  overflow: auto

table
  width: 100%

.add-button
    white-space: nowrap
    width: fit-content
    position: relative
    top: 0
    left: 0
    right: 0
    z-index: 1000
    display: flex
    margin: 4px
    background: linear-gradient(to bottom, #eef9ff, #aae1ff)
    cursor: pointer
    border: none
    outline: none
    border-radius: 3px /* Optional: Add border-radius for rounded corners */
    &:hover
        background: linear-gradient(to bottom,#dee9ee, #7baac2)        
    &:active
        background: linear-gradient(to bottom,#dee9ee, #7baac2)

/* ::ng-deep
    .mat-mdc-tab-labels
        border-bottom: 2px solid var(--bs-purple)

    .mat-mdc-tab.mdc-tab.mdc-tab.mdc-tab--active
        background-color: transparent
        font-weight: 900
        box-sizing: border-box
        border-top: 2px solid var(--bs-purple)
        border-left: 2px solid var(--bs-purple)
        border-right: 2px solid var(--bs-purple)
        ///import css-variables from 
        border-bottom: 2px solid var(--bs-light)
        height: 50px
 */