<section id="filter-container">
    <div class="search-bar">
        <div class="search-name">
            <button class="btn btn-outline-secondary search-button" type="button">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            </button>
            <input type="text" placeholder="Buscar por Nome" class="form-control">
        </div>
    </div>
</section>

<section id="tab-container">
    <div class="crud-buttons">
        <app-crud-buttons></app-crud-buttons>
    </div>

    <div class="lancamentos">
        <app-lancamento-list class="position-sticky custom-container"></app-lancamento-list>
    </div>
</section>