td
    white-space: nowrap

table
    thead
        font-weight: bold

table
  width: 100%
/* ::ng-deep
    .mat-mdc-tab-labels
        border-bottom: 2px solid var(--bs-purple)

    .mat-mdc-tab.mdc-tab.mdc-tab.mdc-tab--active
        background-color: transparent
        font-weight: 900
        box-sizing: border-box
        border-top: 2px solid var(--bs-purple)
        border-left: 2px solid var(--bs-purple)
        border-right: 2px solid var(--bs-purple)
        ///import css-variables from 
        border-bottom: 2px solid var(--bs-light)
        height: 50px
 */

#tab-container
    width: 100vw
    height: calc(100vh - 112px)
    color: white
    display: flex
    position: relative
    top: 80px
    flex-direction: column
    align-items: center
    justify-content: center

#filter-container
    display: grid
    width: 100vw
    height: 32px
    position: fixed
    align-content: center
    top: 90px
    z-index: 1000

.crud-buttons
    display: flex
    position: fixed
    width: 100vw
    height: 32px
    align-content: center
    top: 110px
    z-index: 0000

.lancamentos
    display: flex
    overflow: auto
    position: fixed
    width: 100vw
    height: calc(100vh - 150px)
    align-content: center
    top:150px

.custom-container
    width: 100vw
