.f-sm
    white-space: nowrap
    width: fit-content
    font-size: 12px
    
.valor-despesa
    color: white
    background-color:  hsla(0, 100%, 50%, 0.5)
    font-weight: bold
    padding: 4px

.valor-receita
    color: white
    background-color: hsla(120,100%,25%, 0.5)
    font-weight: bold
    padding: 4px

.mat-mdc-table .mdc-data-table__row
    height: 16px

.highlight
    background: linear-gradient(to bottom,#dee9ee, #7baac2)
    //background: #42A948

.despesas-tab .mat-tab-header, .receitas-tab .mat-tab-header
    position: sticky
    top: 0
    z-index: 1
    background-color: white 

.despesas-tab .mat-table-sticky, .receitas-tab .mat-table-sticky
    position: sticky
    top: 48px 
    z-index: 1
    background-color: white

.tab
    display: flex
    // background-color: rgb(15, 35, 24)
    justify-content: space-between

    .despesas
        display: flex
        justify-content: center
        width: 50%
        color: black
        font-size: 24px
        font-weight: 400
        line-height: 32px
        font-family: Roboto, sans-serif
        letter-spacing: normal
        cursor: pointer
        &:hover
            background: linear-gradient(to bottom,#dee9ee, #7baac2)    

    .receitas
        display: flex
        justify-content: center
        width: 50%
        color: black           
        font-size: 24px
        font-weight: 400
        line-height: 32px
        font-family: Roboto, sans-serif
        letter-spacing: normal
        cursor: pointer
        &:hover
            background: linear-gradient(to bottom,#dee9ee, #7baac2)
            poi


::ng-deep
    .mat-mdc-table .mdc-data-table__header-row
        min-height: 36px

    .mat-mdc-row
        &.selected
            background: #dddddd

    .mat-mdc-row:hover .mat-mdc-cell
        cursor: pointer
        background: linear-gradient(to bottom,#dee9ee, #7baac2)
