<section id="tab-container">
    <div class="lancamentos">
        <section class="mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSourceReceitas">
                <ng-container *ngFor="let item of displayColumns" [matColumnDef]="item"
                    [sticky]="item === 'receitas' || item === 'percentual' || item === 'total'">
                    <th mat-header-cell class="f-sm" *matHeaderCellDef>
                        {{ item }}
                    </th>
                    <td mat-cell class="f-sm" *matCellDef="let element">
                        <div *ngIf="meses.includes(item);then isValue else notValue"></div>
                        <ng-template #isValue>
                            {{ element[item] }}
                        </ng-template>
                        <ng-template #notValue> {{ element[item] }} </ng-template>
                    </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>
        </section>
        <br>
        <section class="mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSourceDespesas">
                <ng-container *ngFor="let item of displayColumns" [matColumnDef]="item"
                    [sticky]="item === 'receitas' || item === 'percentual' || item === 'total'">
                    <th mat-header-cell class="f-sm" *matHeaderCellDef>
                        {{ item }}
                    </th>
                    <td mat-cell class="f-sm" *matCellDef="let element">
                        <div *ngIf="meses.includes(item);then isValue else notValue"></div>
                        <ng-template #isValue>
                            {{ element[item] }}
                        </ng-template>
                        <ng-template #notValue> {{ element[item] }} </ng-template>
                    </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
            </table>
        </section>
        <br>
        <section class="mat-elevation-z8" tabindex="0">
            <table mat-table [dataSource]="dataSourceResumo">
                <ng-container *ngFor="let item of displayColumnsResumo" [matColumnDef]="item"
                    [sticky]="item === 'receitas' || item === 'percentual' || item === 'total'">
                    <th mat-header-cell class="f-sm" *matHeaderCellDef>
                        {{ item }}
                    </th>
                    <td mat-cell class="f-sm" *matCellDef="let element">
                        <div *ngIf="meses.includes(item);then isValue else notValue"></div>
                        <ng-template #isValue>
                            {{ element[item] }}
                        </ng-template>
                        <ng-template #notValue> {{ element[item] }} </ng-template>
                    </td>

                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayColumnsResumo; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumnsResumo;"></tr>
            </table>
        </section>
        <br>
    </div>
</section>